<app-loading-screen *ngIf="loading"></app-loading-screen>

<div *ngIf="!loading">
  <div class="backgroundTransicao" *ngIf="emTransicao">
    <app-background-transicao></app-background-transicao>
  </div>
  <div class="corpo">
    <app-infos-jogador></app-infos-jogador>
    <div class="esquerda">
      <app-timer></app-timer>
      <app-modal-perguntas style="z-index: 1;" (exportNivel)="alteraNivel($event)" ></app-modal-perguntas>
    </div>
    <div class="direita">
      <app-iceberg [nivel]="nivel"></app-iceberg>
    </div>
  </div>
</div>
