<div class="main_jogador">
    <div class="menu_superior">
        
        <div class="sair">
            <div (click)="sair()" class="button_sair">
                <p>Sair</p>
            </div>
        </div>

        <div class="moeda">
            <div class="img_moeda">
                <img src="../../../assets/img/MOEDA_CQ.png" alt="">
            </div>
            <div class="valor_moeda">
                <p>0</p>
            </div>
        </div>



        <div class="jogador">
            <p>IrzinPlay</p>
        </div>

    </div>
</div>