<app-opcoes *ngIf="isModalAberto" (fecharModal)="fecharModal()"></app-opcoes>

<div class="planoDeFundo">
  <div class="opcoesCentrais">
    <div class="linhaTitulo">
      <h2 class="animate-character" data-text="CodeQueste">CodeQuest</h2>
    </div>
    <div class="linha">
      <button (click)="jogar()"><span>JOGAR</span></button>
    </div>
    <div class="linha">
      <button (click)="AbrirModal()"><span>OPÇÕES</span></button>
    </div>
    <div class="linha">
      <button><span>SAIR</span></button>
    </div>
  </div>

  <div (click)="alternarAudio()" [ngClass]="buttonClass" class="button-som"></div>
</div>
